@using BlockBot.Web.Data
@model IEnumerable<BlockBot.Web.Data.ProjectSettingType>

@{
    ViewData["Title"] = "Project Setting Types";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Project Setting Types</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowsMany)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (ProjectSettingType item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowsMany)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>