@model IEnumerable<BlockBot.Web.Data.Project>
@{
    ViewData["Title"] = " Projects Dashboard";
}
<h2>@ViewData["Title"]</h2>

<p>
    <a class="btn btn-primary" asp-action="Create" asp-controller="Projects">Create New Project</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Projects" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-controller="Projects" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-controller="Projects" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Workspace" asp-controller="Workspace" asp-route-id="@item.Id">Edit in Workspace</a>
                </td>
            </tr>
        }
    </tbody>
</table>