@using BlockBot.Common.Data
@using BlockBot.Web.Views.Shared
@inject ApplicationSignInManager SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills flex-column">

    <li class="nav-item"><a asp-controller="AccountManage" asp-action="Index" class="@AccountManageNavPages.IndexNavClass(ViewContext)">Profile</a></li>
    <li class="nav-item"><a id="change-password" asp-controller="AccountManage" asp-action="ChangePassword" class="@AccountManageNavPages.ChangePasswordNavClass(ViewContext)">Password</a></li>
    @if (hasExternalLogins)
    {
        <li class="nav-item"><a id="external-login" asp-controller="AccountManage" asp-action="ExternalLogins" class="@AccountManageNavPages.ExternalLoginsNavClass(ViewContext)">External logins</a></li>
    }
    <li class="nav-item"><a asp-controller="AccountManage" asp-action="TwoFactorAuthentication" class="@AccountManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)">Two-factor authentication</a></li>
    <li class="nav-item"><a asp-controller="AccountManage" asp-action="PersonalData" class="@AccountManageNavPages.PersonalDataNavClass(ViewContext)">Personal data</a></li>
</ul>
