@model BlockBot.Web.Models.WorkspaceModel
@{
    ViewData["Title"] = "Workspace";
}

<div class="container">
    <a href="@Url.Action("Dashboard", "Dashboard")" class="btn btn-secondary">Back to Dashboard</a>
    @if (Model.IsOwner)
    {
        <button class="btn btn-primary" onclick="executeWorkspace()">Save</button>
        <div id="save-spinner" class="fa fa-spinner fa-spin" style="display: none;"></div>
        <p id="save-message" class="d-inline text-danger"></p>
    }
</div>
<br/>
<div class="container">
    <div id="blocklyDiv" style="height: 64vh; width: auto;"></div>
</div>

<partial name="_ToolboxPartial" model="@Model.CalendarList"/>

<div style="display: none;">
    @Html.Raw(Model.Project.XML)
</div>

@section Scripts{
    <environment include="Development">
        <script src="~/blockly/blockly_uncompressed.js"></script>
        <script src="~/blockly/blocks_compressed.js"></script>
        <script src="~/blockly/msg/js/en.js"></script>
        <script src="~/blockly/javascript_compressed.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/blockly/blockly_compressed.js" asp-append-version="true"></script>
        <script src="~/blockly/blocks_compressed.js" asp-append-version="true"></script>
        <script src="~/blockly/msg/js/en.js" asp-append-version="true"></script>
        <script src="~/blockly/javascript_compressed.js" asp-append-version="true"></script>
    </environment>

    <script>
        var toolbox = document.getElementById("toolbox");

        var options = {
            toolbox: toolbox,
            collapse: true,
            comments: true,
            disable: true,
            maxBlocks: Infinity,
            trashcan: true,
            horizontalLayout: false,
            toolboxPosition: 'start',
            css: true,
            media: 'https://blockly-demo.appspot.com/static/media/',
            rtl: false,
            scrollbars: true,
            sounds: true,
            oneBasedIndex: true
        };

        var workspace = Blockly.inject('blocklyDiv', options);
        var workspaceBlocks = document.getElementById("workspaceBlocks");

        Blockly.Xml.domToWorkspace(workspaceBlocks, workspace);

        var xml = Blockly.Xml.workspaceToDom(workspace);
        var xml_text = Blockly.Xml.domToText(xml);

        function executeWorkspace() {
            document.getElementById("save-spinner").style.display = "inline-block";
            document.getElementById("save-message").innerHTML = "";

            try {
                // convert blocks to code and xml
                Blockly.JavaScript.addReservedWords('code');
                var code = Blockly.JavaScript.workspaceToCode(workspace);
                console.log(code);

                var xml = Blockly.Xml.workspaceToDom(workspace);
                xml.id = "workspaceBlocks";
                var xml_text = Blockly.Xml.domToText(xml);
            }
            catch(err) {
                console.log(err.message);
                document.getElementById("save-message").innerHTML = err.message;
                document.getElementById("save-spinner").style.display = "none";
                return;
            }

            $.ajax({
                url: '@Url.Action("PutProjectXml", "Workspace", new {id = Model.Project.Id})',
                data: {
                    "xml": xml_text
                },
                method: 'PUT',
                success: function() {
                    $.ajax({
                        url: '@Url.Action("PutProjectCode", "Workspace", new {id = Model.Project.Id})',
                        data: {
                            "code": code
                        },
                        method: 'PUT',
                        success: function() {
                            document.getElementById("save-spinner").style.display = "none";
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            document.getElementById("save-spinner").style.display = "none";
                            console.log(errorThrown);
                            document.getElementById("save-message").innerHTML = errorThrown;
                        }
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    document.getElementById("save-spinner").style.display = "none";
                    console.log(errorThrown);
                    document.getElementById("save-message").innerHTML = errorThrown;
                }
            });

            

        }
    </script>
}